body {
     background: url("yellowww.jpg") repeat;
}

p {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     text-align: center;
     background: #FFD700;
}

#caption {
     font-size: 10px;
}

#buttons {
margin-left: 15px;
}

a:link {
     color: #006400;
}

a:visited {
     color: #006400;
}
/*
     color: #4B0082;
}*/


h1, h2 {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     text-align: center;
     background: #FFD700;
     /*width: 74%;*/
}


input[type=submit]{
     font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {

     margin: 0;
}


table {
     background-size: 100% 100%;
     background-repeat: no-repeat;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
}


th.lang, tr.lang, td.lang {
     border: 2px solid black;
}


tr.reviews {
     cursor:pointer;
}

img.background {
   background-repeat:repeat-y;
}

.showName {
     text-align: left;
     font-weight: bold;
     font-size: 2 em;
}

.character {
     text-align: left;
     font-size: 1.5 em;
}

.langName {
     text-align: center;
     font-weight: bold;
     font-size: 2 em;
}

.rowCat {
     text-align: left;
     font-size: 1.5 em;
}

.langCat {
     text-align: center;
     font-size: 3 em;
}

.filler {
     visibility: hidden;
}

.example-image-link{
	display:inline-block;
	padding:2px;
	margin:0 .5rem 1rem .5rem;
	background-color:#fff;
	line-height:0;
	border-radius:4px;
	transition: background-color .5s ease-out
}
.example-image-link:hover{
	background-color:#4ae;
	transition:none
}

.image-row{
	text-align:center
}

div.wrapper {
     width:98%;
     margin:1%;
     margin-right:200px;
}

#leftstuff {
     float: left;
     width: 75%;
}

#posters {
     position: absolute;
     top: 1px;
     float: right;
     width: 19%;
     margin-left: 77%;
     margin-right: 96%;
}

#headshot_container{
     width: 200px;
     height: 330px;
     display: table-cell;
     vertical-align: middle 
}

#logo_container{
     width: 200px;
     height: 250px;
     display: table-cell;
     vertical-align: middle 
}

.mySlides {
    display: block;
    vertical-align: middle;
    margin:0 auto;
}

IMG.displayed {
     display: block;
     margin-left: 20px;
     margin-right: auto;
     margin-bottom: 20px;
}

#cleared{
     clear: both;
}

table.current{
     float: left;
     width: 75%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
}

table.copyright{
	padding-top: 15px;
}

table#resume{
     float: left;
     width: 75%;
     margin-top: -30px;
}

table#resume2{
     float: left;
     width: 75%;
     margin-top: 50px;
}

.eggplant {
    width: 75%;
}

table.langtab {
    width: 100%;
    border-color: black;
    bgcolor: #FFD700;
    border-collapse: collapse;
}

table.menu {
    width: 75%;
    height: 35px;
    font-size: 15px;
    font-family: Ariel, sans-serif;
    font-weight: bold;
    text-align: center;
  /*  text-shadow: 3px 2px 3px #333333;*/
    background-color: transparent;
    border-radius: 8px;
}

table.heading {
     width: 75%;
     text-align: center;
     font-size: 2em;
     font-weight: bold;
}

table.title {
    width: 75%;
    color: #006400;
    font-size: 50px;
    font-family: Ariel, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #9ACD32;
    border-radius: 8px;
}

table.copyright {
    margin-left: 25%;
    width: 50%;
    background-color:transparent;
    color: black;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

table.menu#pages {
    width: 97%;
    border-radius: 8px;
}

table.menu#home {
    width: 100%;
}

table.menu a {
    text-decoration: none;
    color: #006400;
}

table.menu a:hover {
    color: #FFD700;
    background-color: #FFF;
}

td.current {
   background-color: #9ACD32;
   color: #4B0082;
   font-size:18px;
}

td.col2 {
    background-color: #9ACD32;
    font-size:18px;
    padding-top:7px;
    padding-bottom:7px;
}

td.col1 {
    background-color:transparent;
}

.x {

    font-size: 40px;
}

#accordion, #accordion2, #accordion3, #accordion4, #accordion5 {
    margin-top: -17px;
}

#accordion h3, #accordion2 h3, #accordion3 h3, #accordion4 h3, #accordion5 h3 { 
    background: none;
    background-color: #FFD700;  
    border-color: black;  
    height: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#accordion .ui-accordion-content, #accordion2 .ui-accordion-content, #accordion3 .ui-accordion-content, #accordion4 .ui-accordion-content, #accordion5 .ui-accordion-content {
    background: none;
    background-color: #FFD700; 
}

#thumbnail {
    float: left;
    width: 250px;
    padding-right: 25px;
}
    
#thumbnail_image{    
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playinfo {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-bottom: 15px;
}

#photo_block {
}

#photos {
    height: 120px;
    width:100%;
    overflow: scroll;
}

#profilephoto {
    float: left;
    width: 240px;
}

#maincontent {
    float: left;
    width: 75%;
    }
    
#sidebarstuff {
    width:90%;
    margin-left: 50px;
    margin-top: 5%;
}


#sectionheading {
	text-align: center; 
	font-weight: bold; 
	font-size: 2em;
	background-color: #FFD700;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 75%;
}



/*
.menu tr#toprow {
    background-color: #9ACD32;
}

.menu tr#eggplantrow {
    background-color: transparent;
}

#menu tr {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}



#menu td { 
display: inline; 
padding: 10px; 
}

menu a {
    text-decoration: none;
    color: #006400;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #F90;
    background-color: #FFF;
}*/